<!-- start custom footer snippets -->

<div style="display:flex;justify-content: center;">
    <ins class="kakao_ad_area" style="display:none;" 
    data-ad-unit    = "DAN-fYOsxzJ94cKuEMVU" 
    data-ad-width   = "300" 
    data-ad-height  = "250"></ins> 
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

    <ins class="kakao_ad_area" style="display:none;" 
    data-ad-unit    = "DAN-9aHVvmEdSikhmxJX" 
    data-ad-width   = "300" 
    data-ad-height  = "250"></ins> 
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
</div>


<!-- end custom footer snippets -->